$violet: #000;
$yellow: #F9C802;
@mixin button {
    border-radius: 4px;
    border: 1px solid black;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    width: 100px;
    height: 24px;
}

$tablet: 1024px;
$mobile-big: 860px;
$mobile:640;
$mobile-small:320px;