@import "_normalize";
@import "_variables";
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600&display=swap&subset=latin-ext');
html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    background-color: #2E294E;
    color: #F46036;
}

.main {
    max-width: 800px;
    width: 100%;
    margin: auto;
    height: 85vh;
    @media (max-width: $tablet) {
        max-width: 700px;
        width: 100%;
    }
    @media (max-width: $mobile-big) {
        max-width: 600px;
        width: 100%;
    }
    @media (max-width: $mobile) {
        max-width: 320px;
        width: 100%;
    }
}

.editor {
    margin: 32px auto;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    &__story {
        justify-content: center;
        align-items: flex-start;
        &__input {
            min-width: 800px;
            width: 100%;
            min-height: 600px;
            height: 100%;
            border-radius: 4px;
            resize: none;
            @media (max-width: $tablet) {
                min-width: 700px;
                width: 100%;
            }
            @media (max-width: $mobile-big) {
                min-width: 600px;
                width: 100%;
                min-height: 400px;
                height: 100%;
            }
            @media (max-width: $mobile) {
                min-width: 320px;
                width: 100%;
                min-height: 150px;
                height: 100%;
            }
        }
    }
    &__button {
        font-family: "Open Sans";
        font-style: normal;
        font-weight: 600;
        font-size: 14px;
        line-height: 16px;
        justify-content: flex-end;
        align-items: flex-end;
        position: relative;
        &__trash {
            background: none;
            border: none;
            width: 24px;
            height: 24px;
            position: absolute;
            bottom: -32px;
            &--icon {}
        }
        &__save {
            background: #C5D86D;
            @include button;
            position: absolute;
            right: 124px;
            bottom: -32px;
            @media (max-width: $mobile) {
                width: 50px;
                height: 24px;
            }
        }
        &__load {
            background: #1B998B;
            @include button;
            position: absolute;
            right: 0px;
            bottom: -32px;
            @media (max-width: $mobile) {
                width: 50px;
                height: 24px;
            }
        }
    }
}

.header {
    margin: auto;
    &_tittle {
        font-family: "Open Sans";
        font-style: normal;
        font-weight: 600;
        font-size: 44px;
        line-height: 64px;
        margin-bottom: 24px;
        text-align: center;
    }
}

.footer {
    font-size: 12px;
}