@import "_normalize";
@import "_variables";
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600&display=swap&subset=latin-ext');
html {
    box-sizing: border-box;
    font-family: 'Open Sans';
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    background-color: #2E294E;
    color: #F46036;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.main {
    max-width: 800px;
    width: 100%;
}

.header {
    font-weight: 600;
    font-size: 44px;
    margin: 0;
    margin-bottom: 48px;
}

.form {
    &__actions {
        margin-top: 48px;
        display: flex;
        justify-content: space-between;
    }
    &__button {
        border: 1px solid #121232;
        border-radius: 4px;
        padding: 16px;
        min-width: 100px;
        font-weight: 600;
        letter-spacing: 0.5px;
        &--save {
            background: #F46036;
        }
    }
    &__label {
        font-size: 14px;
        display: block;
        margin-bottom: 8px;
    }
    &__message {
        width: 100%;
        border-radius: 8px;
        padding: 12px;
        border: 1px solid #D3D4D8;
        min-height: 600px;
    }
}

.footer {
    margin-top: 64px;
    font-size: 12px;
}